fastapi==0.116.1
uvicorn[standard]==0.35.0
SQLAlchemy==2.0.43
pydantic-settings==2.11.0
PyYAML==6.0.3
pyotp==2.9.0
firebase-admin==7.1.0
docker==7.1.0
cryptography==46.0.2
pytest==8.4.2
httpx==0.28.1
